@import url('https://fonts.googleapis.com/css2?family=Moderustic:wght@300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
  font-family: "Moderustic", sans-serif;
  font-style: normal;
  text-align: center;
}

.container{
    max-width: 1440px;
    padding: 5% 5%;
    margin: 0 auto;
}

section,
footer{
    padding: 2.7rem 0;
}

 .container .calculator{
    color: white;
    background-color: black;
    border-radius: 15px;
    transition: 0.3s;
}

.container .calculator:hover{
    box-shadow: 0px 0px 15px gray;
}

 .container .calculator h1{
    padding: 20px 0;
}
 .container .calculator .display{
    color: black;
    background-color: white;
    padding: 5% 5%;
    margin: 0 auto;
    width: 50%;
    border-radius: 8px;
}

.container .calculator .display p{
    font-size: 20px;
    font-weight: 500;
}

 .container .calculator .numbers{
    padding: 25px 25px;
    margin-bottom: 20px;
}
 .container .calculator .numbers ul{
    justify-content: center;
    align-items: center;
    display: flex;
} 

.container .calculator .numbers ul > li{
    justify-content: center;
    align-items: center;
    margin: 0 10px;
}

.container .calculator .numbers ul > li > button{
    padding: 20px;
    margin: 5px;
    align-items: center;
    justify-content: center;
    font-family: "Moderustic", sans-serif;
    border: none;
    border-radius: 8px;
    background-color: black;
    color: white;
    font-size: 15px;
} 

.container .calculator .numbers ul > li > button:hover{
    background-color: white;
    color: black;
}

.container .recursos{
    margin-top: 40px;
    justify-content: space-between;
    display: flex;
}

.container .recursos .history{
    width: 50%;
    background-color: black;
    color: white;
    border: black;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
}
.container .recursos .history:hover{
    box-shadow: 0px 0px 15px black;
}

.container .recursos .history h3{
    margin-top: 20px;
    font-weight: 500;
    margin-bottom: -20px;
}

#historyUl{
    margin: 50px 0;
}

#historyUl li{
    margin: 20px auto;
}

.container .recursos .limparDiv{
    width: 50%;
}

.container .recursos .limparDiv .limpar {
    padding: 20px;
    background-color: black;
    color: white;
    transition: 0.3s;
    border-radius: 10px;
    margin: 5% 0;
}

#limparHist,
#limparCalc{
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
}

#limparCalc{
    padding: 25px 45px;
}

#limparHist{
    padding: 25px 60px;
}

.container .recursos .limparDiv .limpar:hover{
    background-color: white;
    color: black;
    box-shadow: 0px 0px 0px 0.01px black;
}

